[Unit]
Description=Object Detection Webcam Service
Wants=network-online.target
After=network-online.target

[Container]
Image=quay.io/luisarizmendi/object-detection-webcam:x86
AutoUpdate=registry
Ports=5000:5000
Privileged=true
Environment=CAMERA_INDEX=1
Environment=YOLO_MODEL_FILE=object-detection-hardhat-v1-m.pt
Environment=YOLO_MODEL_THRESHOLD=0.2

[Service]
Restart=always

[Install]
WantedBy=default.target


