<footer class="footer">
      <div class="navbar-item" align="left">
          <div class="user-inputs">
            <label for="gnumber">Group Number: </label><br/>
            <input type="text" id="gnumber" name="gnumber" placeholder="number..">
          </div>
<!--
          <div class="user-inputs">
            <label for="cdomain">Cluster Domain: </label><br/>
            <input type="text" id="cdomain" name="clusterdomain" placeholder="Your cluster domain..">
          </div>
          <div class="user-inputs">
            <label for="gitserver">Git Server (optional): </label><br/>
            <input type="text" id="gitserver" name="gitserver" placeholder="Your git server..">
          </div>
-->
          <div >
            <button class="storage-btns" onclick="setNamesInStorage()">Save</button>
          </div>
          <div >
            <button class="storage-btns" onclick="clearStorage()">Clear</button>
          </div>
      </div>
    </div>
</footer>