<footer class="footer">
    </div>
      <div class="navbar-end">
          <div class="user-inputs">
            <label for="gnumber">Group Number: </label><br/>
            <input type="text" id="gnumber" name="gnumber" placeholder="Number..">
          </div>
<!--
          <div class="user-inputs">
            <label for="cdomain">Cluster Domain: </label><br/>
            <input type="text" id="cdomain" name="clusterdomain" placeholder="Your cluster domain..">
          </div>
          <div class="user-inputs">
            <label for="gitserver">Git Server (optional): </label><br/>
            <input type="text" id="gitserver" name="gitserver" placeholder="Your git server..">
          </div>
-->
          <div >
            <button class="storage-btns" onclick="setNamesInStorage()">Save</button>
          </div>
          <div class="user-inputs"></div>
          <div >
            <button class="storage-btns" onclick="clearStorage()">Clear</button>
          </div>

        {{#if page.attributes.links}}
        <div class="navbar-item navbar-item-right-dropdown has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Links</a>
          <div class="navbar-dropdown navbar-dropdown-right">
            {{#each page.attributes.links}}
            <a class="navbar-item navbar-item-right-content" href="{{this.url}}" target="_blank">{{this.text}}</a>
            {{/each}}
          </div>
        </div>
        {{/if}}
        {{#if page.attributes.user}}
        <div class="navbar-item">You are {{page.attributes.user}}</div>
        {{/if}}
      </div>
    </div>
  </nav>
</footer>
  <style>
    input[type=text] {
      padding: 8px 12px;
      /* display: inline-block; */
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    input[type=text]:focus {
      outline: none !important;
      border: 2px solid #F5606D;
    }
    .user-name-form {
      margin-left: 0%;
      background-color: #f3f3f3;
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
    }
    .user-inputs {
      flex: 1;
    }
    .user-inputs:first-child {
      /* margin-right: 30%; */
    }
    .user-inputs:input,label {
      font-size: 12px;
      display: block;
      width: 70px
    }
    .storage-btns {
      font-size: 12px;
      margin: 10px;
      padding: 10px;
      cursor: pointer;
      background-color: #FAB6B6;
      color: black;
      border: 2px solid #FAB6B6; 
      width: 50px; 
      text-align: center;
    }
    p.tip {
      border-left-color: #4D4D4D;
    }
    p.tip:before {
      content: "!";
      background-color: #4D4D4D;
    }
    .sidebar {
       background-color: #f3f3f3;
    }

    .slider {
      width: 67em;
      height: 250px;
      display: flex;
      overflow-x: auto;
    }
    .slide {
      width: 67em;
      flex-shrink: 0;
      height: 100%;
    }
    :root {
      --base-font-size: 14px;
      --base-font-family: "RedHatText",Overpass,"Open Sans",Helvetica,Arial,sans-serif;
      --theme-color: #CC0000;
      --content-max-width: 75em;
      --sidebar-width: 22rem;
      --sidebar-nav-pagelink-background-image             : ;
      --sidebar-nav-pagelink-background-image--active     : ;
      --sidebar-nav-pagelink-background-image--collapse   : ;
      --sidebar-nav-pagelink-background-image--loaded     : ;
    }
  </style>
