
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.redhat.com/en/products/edge" target="_blank">
        <img src="{{uiRootPath}}/img/header_logo.png" height="50px" alt="Red Hat Device Edge">
      </a>
      <a class="navbar-item" style="color:white;font-size: 1.5rem" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
    </div>
  </nav>
